.tm-block {
    padding: 40px;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
    max-height: 450px;
}

.header-block {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
    max-height: 450px;
}

.tm-block-col {
    margin-bottom: 30px;
}

.tm-block-h-auto {
    min-height: 1px;
    max-height: none;
    height: auto;
}

.tm-block-scroll {
    overflow-y: scroll;
}

.tm-block-overflow {
    overflow: hidden;
}

/* Formating Of Titles in Blocks*/
.tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}