.statementHeader{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-between;
    min-width: 977px;

}
.statementBtnGroup{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
}

.statementHeaderRC{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-between;

}
#chartHeader{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-between;
    visibility: hidden;
}