.tm-site-icon {
    color: #656565;
}

.tm-logout-icon {
    font-size: 1.5em;
}

.tm-product-delete-icon {
    font-size: 1.1rem;
    color: #fff;
}

.tm-product-delete-link {
    padding: 10px;
    border-radius: 50%;
    background-color: #394e64;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
  }

.tm-trash-icon {
    color: #6e6c6c;
    cursor: pointer;
}

.tm-trash-icon:hover {
    color: #9f1321;
}

.tm-upload-icon {
    background: #455c71;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}
.stockImgContainer{
    height: 65px;
    width: 65px;
    padding: 0px !important;
}

.stockSelectImg{
    height: 65px;
    width: 65px;
    margin: 10px;
    border-radius: 10px;
    border:solid gray;
}
.boxPlot{
    height: 2rem;
    width: 2rem;
    -webkit-filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(103%) contrast(102%);
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(103%) contrast(102%);
}