/* Fromat Based From https://codepen.io/techhysahil/pen/qbrqWG */
/********************************* Author : Techhysahil Link : http://techhysahil.com *********************************/

/*******************
 Select Bar
 ********************/ 
.select2-container {
    min-width: 15rem;
    font-family: Roboto, Helvetica;
}

.select2-container *:focus {
    outline: 0px;
}

.select2-container--flat .select2-selection--single {
    background: #4e657a;
    border: 0px;
    height: 34px;
  }


.select2-results {
    padding: 0 0 0 0px;
    margin: 4px 0px 0px 0;
    min-height: auto;
    max-height: 200px;
    overflow: auto;
}


/*******************
 Search Bar
 ********************/ 
 .select2-container--flat span.select2-search input {
    height: 30px !important;
  }

  .select2-search {
    margin-top: 3px;
  }
  .select2-search input {
    height: 26px;
    border: 2px solid #dce4ec;
  }

/*******************
 Dropdown List 
 ********************/ 
 .select2-drop {
    margin-top: -2px;
    border: 2px solid #dce4ec;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-drop.select2-drop-above {
    margin-top: 2px;
    border-top: 2px solid #dce4ec;
    border-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

/* Change Background Color */
.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
    background: #4e657a;
}
/* Highlight Options mouse is on */
.select2-container--flat .select2-results__option--highlighted[aria-selected] {
    background: #f5a623 !important;
    color: #ffffff;
}
/* Hilight Items that have been */
.select2-container--flat .select2-results__option[aria-selected=true] {
    background: #f5a623;
    color: #fff;
    opacity: 0.8;
}


/*******************
 Single Select 
********************/
  
.select2-container--flat .select2-selection--single {
    border-radius: 0px;
}


  .select2-container--flat .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 34px;
  }
  .select2-container--flat .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
  }
  .select2-container--flat .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
    top: 60%;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    width: 0;
  }
  .select2-container--flat .select2-selection--single .select2-selection__placeholder {
    color: #fff;
  }
  .select2-container--flat .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

/*******************
 Arrow Icon 
********************/
.select2-container--flat.select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.search-icon {
  height: 35px;
  width: 35px;
  
}

