.table {
    
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    font-weight: normal !important;
    margin-bottom: 0;
    border: 2pt solid ivory;    
}

thead {
    background-color: #486177;
    color: #fff;
}

.table thead th {
    border-bottom: 0;
}

.tm-table-mt {
    margin-top: 66px;
}

.table td,
.table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
}

.table-hover tbody tr {
    transition: all 0.2s ease;
}

.table-hover tbody tr:hover {
    color: #a0c0de;
}
thead.rowBottomLine th[scope="col"]{
    border-bottom:1pt solid ivory !important;
}
.seperator{
    border-top:1pt solid ivory !important;
    border-bottom:1pt solid ivory !important;
    background-color:#415a70;
    max-height: fit-content;
}
.seperatorSubTitle{
    color: #f5a623;
    font-weight: bolder;
    font-size: 13pt !important;
    border-right: 0 !important;
    white-space: nowrap;
}
.seperatorTitle{
    color: #f5a623;
    font-weight: bolder;
    font-size: 15pt !important;
    border-right: 0 !important;
    white-space: nowrap;
}
thead.rowTopLine th[scope="col"]{
    border-top:1pt solid ivory !important;
}
.ra {
    
  text-align: right;
}
.raTotal {
    border-top:1pt double ivory !important;
    text-align: right;
    white-space: nowrap;
}
.totalNext{
    border-top:1pt double ivory !important;
}
table th[scope="row"]{
    border-right:2pt dotted ivory;
}
table th[scope="col"]{
    border-top:1pt solid ivory;
}