.table {
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
}

thead {
    background-color: #486177;
    color: #fff;
}

.table thead th {
    border-bottom: 0;
}

.tm-table-mt {
    margin-top: 66px;
}

.table td,
.table th {
    border-top: 1px solid #415a70;
    padding: 15px 25px;
    vertical-align: middle;
}

.tm-table-small td,
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
}

.table-hover tbody tr {
    transition: all 0.2s ease;
}

.table-hover tbody tr:hover {
    color: #a0c0de;
}
